.menu-course > ul {
  display: inline-grid;
  grid-template-columns: repeat(3, max-content);
  gap: 1rem;
  background-color: rgb(207, 207, 216);
}

.menu-course > ul > li {
  list-style: none;
}

.menu-course > ul > li > a {
  text-decoration: none;
}

.active-link {
  color: black;
}
