.footer {
  min-height: 100px;
  background-color: #00887a;
  color: #fff;

  &__container {
    margin: 0 auto;
    max-width: 250px;
    padding-top: 20px;
    padding-bottom: 20px;

  }
  &__title {
    text-align: center;
    h1 {
      font-size: 24px;
      font-weight: 400;
      margin-bottom: 15px;
      letter-spacing: 1px;
    }
    h2 {
      font-size: 16px;
      font-weight: 300;
      margin-bottom: 15px;
      letter-spacing: 1px;
    }
  }
  .socials {
    display: flex;
    justify-content: space-around;
    align-items: center;
    &__link {
      color: white;
      text-align: center;
      vertical-align: middle;
      &:hover {
        color: #042b27;
      }
    }
  }
}

