main {
  background-color: #d3e3fc;
  padding-top: 82px;

  .main-container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
  }
  .movie-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @media (max-width: 767px) {
      justify-content: center;  
         }
  }
  .pagination {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    span {
      font-size: 40px;
      font-weight: 700;
      color: #071347;
    }
    button {
      min-width: 100px;
      padding: 8px;
      border-radius: 4px;
      background-color: #354ebf;
      color: white;
      margin: 10px;

      &:hover {
        background-color: #21327c;
      }
      &:active {
        color: white;

        background-color: #071347;
      }
    }
  }
}
