.search-block {
    background-color: bisque;
    padding: 2rem;
}


.search-bar {
    padding: 0.5rem;
    border:  2px solid green;
    background-color: red;
    border-radius: 4px;
    color: black
  }