.movie-card {
  width: 300px;
  background-color: aquamarine;
  border: 1px solid red;
  padding: 0.5rem;
  margin: 1rem;
  overflow: hidden;
  position: relative;
}

.movie-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.movie-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.movie-overview {
   position: absolute;
   bottom: 0;
   left: 0;
   right: 0;
   background-color: aliceblue;
   color: grey;
   padding: 0.5rem;
   overflow: auto;
   transform: translatey(100%);
   transition: transform 0.5s ease-in-out;
}
.movie-card:hover .movie-overview {
    transform: translatey(0);
}

header {
  background-color: blueviolet;
  padding: 1rem
}

.mark {
  background-color: yellow;
  border-radius: 50%;
  padding: 0.5rem;
  font-weight: bold;

}
.search-bar {
  padding: 0.5rem;
  border:  2px solid green;
  background-color: red;
  border-radius: 4px;
  color: black
}