* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  border: none;
  outline: none;
  font-weight: 400;
  font-family: "Roboto", sans-serif;

}
body {
  overflow-y: scroll;
  font-family: "Roboto", sans-serif;
}
button {
  cursor: pointer;
  font-family: "Roboto", sans-serif;

}
.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
header {
  /* 0 flex-grow, 0 flex-shrink, auto flex-basis */
  flex: 0 0 auto;
  min-width: 320px;
}
main {
  /* 1 flex-grow, 0 flex-shrink, auto flex-basis */
  flex: 1 0 auto;
  min-width: 320px;

}
footer {
  /* 0 flex-grow, 0 flex-shrink, auto flex-basis */
  flex: 0 0 auto;
  min-width: 320px;

}
.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap"); ;
